/* variables */ 

/* resets */ 
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body, h1, p, menu {
  margin: 0;
}

button, menu, input {
  padding: 0;
}

button, input[type=text] {
  border: none;
}

button {
  outline: none;
  font-size: 1rem;
  background: none;
}

menu {
  list-style-type: none;
}



/* colors */ 
:root {
  // Primary
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  
  // light theme 
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  // dark theme 
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue: hsl(236, 33%, 92%); // (hover)
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

.logo {
  color: white;
}

.todo-item-checkmark-wrapper {
  background: var(--bright-blue);
}






/* typography */ 
* {
  font-family: 'Josefin Sans', sans-serif;
}
html {
  font-size: 18px;
}

.logo {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 10px;
}

.todo-new-input, p, button {
  font-weight: 400;
}




/* General */ 

.hide {
  display: none !important;
}

.container {
  margin: 0 auto;
  margin-left: 1.2em;
  margin-right: 1.2em;
  max-width: 550px;
  position: absolute;
  z-index: 1;
  top: 2em;
}


// we use circle because this class is also in the search bar, BUT, we also have the check wrapper because we will add hover states to that. 
.circle {
  height: 18px;
  width: 18px;
  border: 1px solid black;
  border-radius: 50%;
}


/* header */ 
.header {
  height: 200px;
  background: url(../images/bg-mobile-dark.jpg);

  @media (min-width: 600px) {
    height: 300px;
    background: url(../images/bg-desktop-dark.jpg);
  }
}

.todo-header {
  display: flex;
  justify-content: space-between;
}

/* main */ 

/* new todo */ 
#todo-new-input {
  border: 1px solid black;
  width: 100%;
}

/* todo list */ 
.todo-list {
  .todo-item {
    display: flex;
    border-bottom: 1px solid gray;

    .todo-item-checkmark-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .todo-item-delete {
      margin-left: auto;
    }
  }

  .todo-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .todo-filter-list {
      display: flex;
    }
  }
}

/* footer */ 
/* default style that came with project */ 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.footer-text {
  text-align: center; 
}


/* to do: 
set colours for dark theme in colours section. 
then do paddings, etc. 
then watch tut on 'color theme mixin sass'
implement light and dark toggle themes. 

*/ 