/* Abstracts */
:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --lt-very-light-gray: hsl(0, 0%, 98%);
  --lt-very-light-grayish-blue: hsl(236, 33%, 92%);
  --lt-light-grayish-blue: hsl(233, 11%, 84%);
  --lt-dark-grayish-blue: hsl(236, 9%, 61%);
  --lt-very-dark-grayish-blue: hsl(235, 19%, 35%);
  --lt-very-dark-grayish-blue-opacity: hsla(235, 19%, 35%, 0.2);
  --dt-very-dark-blue: hsl(235, 21%, 11%);
  --dt-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dt-light-grayish-blue: hsl(234, 39%, 85%);
  --dt-light-grayish-blue-opacity: hsla(234, 39%, 85%, 0.2);
  --dt-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dt-dark-grayish-blue: hsl(234, 11%, 52%);
  --dt-very-dark-grayish-blue-1: hsl(233, 14%, 35%);
  --dt-very-dark-grayish-blue-2: hsl(237, 14%, 26%);
  --main-bg: var(--dt-very-dark-blue);
  --todo-bg: var(--dt-very-dark-desaturated-blue);
  --todo-border: var(--dt-light-grayish-blue-opacity);
  --todo-circle: var(--dt-light-grayish-blue-opacity);
  --todo-text: var(--dt-light-grayish-blue);
  --todo-checked: var(--dt-very-dark-grayish-blue-2);
  --todo-info: var(--dt-dark-grayish-blue);
  --todo-footer: var(--dt-very-dark-grayish-blue-1);
  --header-bg-mobile: url(../images/bg-mobile-dark.jpg);
  --header-bg-desktop: url(../images/bg-desktop-dark.jpg);
}

.light-theme {
  --main-bg: var(--lt-very-light-grayish-blue);
  --todo-bg: var(--lt-very-light-gray);
  --todo-border: var(--lt-very-dark-grayish-blue-opacity);
  --todo-circle: var(--lt-very-dark-grayish-blue-opacity);
  --todo-text: var(--lt-very-dark-grayish-blue);
  --todo-checked: var(--lt-light-grayish-blue);
  --todo-info: var(--lt-dark-grayish-blue);
  --todo-footer: var(--lt-dark-grayish-blue);
  --header-bg-mobile: url(../images/bg-mobile-light.jpg);
  --header-bg-desktop: url(../images/bg-desktop-light.jpg);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body, h1, p, menu {
  margin: 0;
}

button, menu, input {
  padding: 0;
}

button, input {
  border: none;
  font-size: 1rem;
  outline: none;
  background: none;
}

menu {
  list-style-type: none;
}

/* Base */
* {
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 13px;
}
@media (min-width: 600px) {
  html {
    font-size: 18px;
  }
}

.todo-new-input, p, button {
  font-weight: 400;
}

.logo, .todo-filter-btn {
  font-weight: 700;
}

.logo {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 10px;
}

.todo-filter-btn {
  font-size: 1.1rem;
}

@media (min-width: 600px) {
  .todo-filter-btn, .todo-remaining-todos, .todo-clear-completed {
    font-size: 0.8rem;
  }
}

.todo-footer-text {
  text-align: center;
}
@media (min-width: 600px) {
  .todo-footer-text {
    font-size: 0.9rem;
  }
}

.hide {
  display: none !important;
}

.show-check img {
  display: block !important;
}

.checked {
  text-decoration: line-through;
}

.circle {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  margin-right: 0.7em;
  border: 1px solid;
}

.theme-toggle-btn, .todo-item-delete, .todo-filter-btn, .todo-clear-completed {
  cursor: pointer;
}

main, footer {
  background: var(--main-bg);
}

.todo-new-todo, .todo-item, .todo-info, .todo-filter-list {
  background: var(--todo-bg);
}

.todo-item {
  border-color: var(--todo-border);
}

.circle {
  border-color: var(--todo-circle);
}

.todo-item-description, #todo-new-input {
  color: var(--todo-text);
}

.checked {
  color: var(--todo-checked);
}

.todo-remaining-todos, .todo-clear-completed, .todo-filter-btn {
  color: var(--todo-info);
}

::-moz-placeholder {
  color: var(--todo-footer);
}

.todo-footer, ::placeholder {
  color: var(--todo-footer);
}

.logo {
  color: white;
}

.active {
  color: var(--bright-blue);
}

.show-check {
  background: var(--check-background);
  border: 1px solid var(--check-background);
}

/* Layout */
body {
  min-height: 100vh;
}

.header {
  height: 200px;
  background: var(--header-bg-mobile);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 600px) {
  .header {
    height: 300px;
    background: var(--header-bg-desktop);
  }
}

main {
  height: calc(100vh - 200px - 11px);
}
@media (min-width: 600px) {
  main {
    height: calc(100vh - 300px - 11px);
  }
}

/* footer */
/* default style that came with project */
.attribution {
  color: black;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  background: white;
}

/* Components */
.container {
  margin: 0 auto;
  left: 1.2em;
  right: 1.2em;
  max-width: 550px;
  position: absolute;
  z-index: 1;
  top: 3em;
  /* todo header */
  /* todo new todo */
  /* todo list */
  /* todo footer */
}
@media (min-width: 600px) {
  .container {
    top: 7em;
  }
}
.container .todo-header {
  display: flex;
  justify-content: space-between;
}
.container .todo-new-todo {
  display: flex;
  align-items: center;
  margin-top: 2.5em;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 1.1em 1.3em;
}
.container .todo-new-todo #todo-new-input {
  width: 100%;
  margin-top: 2px;
}
.container .todo-list {
  border-radius: 8px;
}
.container .todo-list .todo-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  padding: 1.1em 1.3em;
}
.container .todo-list .todo-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container .todo-list .todo-item .todo-item-checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .todo-list .todo-item .todo-item-checkmark .checkmark {
  display: none;
}
.container .todo-list .todo-item .todo-item-delete {
  margin-left: auto;
}
.container .todo-list .todo-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1.1em 1.3em;
}
.container .todo-list .todo-info .todo-filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 59px;
  width: 100%;
  border-radius: 8px;
  padding: 1.1em 1.3em;
}
@media (min-width: 600px) {
  .container .todo-list .todo-info .todo-filter-list {
    padding: 0;
    position: initial;
    width: initial;
    border-radius: initial;
  }
}
.container .todo-footer {
  margin-top: 100px;
}
@media (min-width: 600px) {
  .container .todo-footer {
    margin-top: 50px;
  }
}

/* To do
  active states 
  js 
*//*# sourceMappingURL=main.css.map */