body {
  min-height: 100vh;
}

.header {
  height: 200px;
  background: var(--header-bg-mobile);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 

  @media (min-width: 600px) {
    height: 300px;
    background: var(--header-bg-desktop);
  }
}

main {
  height: calc(100vh - 200px - 11px);

  @media (min-width: 600px) {
    height: calc(100vh - 300px - 11px);
  }
}

/* footer */ 
/* default style that came with project */ 
.attribution { color: black; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution {
  width: max-content;
  margin: 0 auto;
  background: white;
}
